/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
clj-cloud-playground.tar
*.jar
*.class
*.iml
/.idea
/.lein-*
/.nrepl-port
.hgignore
.hg/
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
